<ul>
  <li><a href="#dialect-declaration">Dialect declaration</a></li>
  <li><a href="#using-vocabularies">Using vocabularies</a></li>
  <li><a href="#node-mappings">Node mappings</a></li>
  <li><a href="#property-mappings">Property mappings</a></li>
  <li><a href="#literal-mappings">Literal mappings</a></li>
  <li><a href="#data-node-mappings">Data node mappings</a></li>
  <li><a href="#key-value-nesting">Key-Value nesting</a></li>
  <li><a href="#union-of-nodes-mapping">Union of nodes mapping</a></li>
  <li><a href="#document-model-mapping">Document model mapping</a></li>
  <li><a href="#dynamic-composition-of-documents">Dynamic composition of documents</a></li>
  <li><a href="#iduri-generation-and-customization">ID/URI generation and customization</a></li>
  <li><a href="#linking-styles">Linking styles</a></li>
  <li><a href="#references">References</a></li>
</ul>
