<ul>
  <li><a href="#aml-dialects-10">AML Dialects 1.0</a></li>
  <li><a href="#dialect-declaration">Dialect declaration</a></li>
  <li><a href="#using-vocabularies">Using vocabularies</a></li>
  <li><a href="#node-mappings">Node mappings</a></li>
  <li><a href="#property-mappings">Property mappings</a></li>
  <li><a href="#literal-mappings">Literal mappings</a></li>
  <li><a href="#data-node-mappings">Data node mappings</a>
    <ul>
      <li><a href="#simple-node-nesting">Simple node nesting</a></li>
      <li><a href="#multiple-node-nesting">Multiple node nesting</a></li>
      <li><a href="#nesting-by-property-value">Nesting by property value</a></li>
    </ul>
  </li>
  <li><a href="#key-value-nesting">Key-Value nesting</a></li>
  <li><a href="#union-of-nodes-mapping">Union of nodes mapping</a></li>
  <li><a href="#document-model-mapping">Document model mapping</a>
    <ul>
      <li><a href="#defining-the-root-document-mapping">Defining the root document mapping</a></li>
      <li><a href="#defining-module-mappings">Defining module mappings</a></li>
      <li><a href="#defining-fragment-mappings">Defining fragment mappings</a></li>
    </ul>
  </li>
  <li><a href="#dynamic-composition-of-documents">Dynamic composition of documents</a></li>
  <li><a href="#iduri-generation-and-customization">ID/URI generation and customization</a></li>
  <li><a href="#linking-styles">Linking styles</a>
    <ul>
      <li><a href="#include-links">Include links</a></li>
      <li><a href="#library-aliases">Library aliases</a></li>
      <li><a href="#hash-reference-links">Hash reference links</a></li>
      <li><a href="#dialect-links">Dialect links</a></li>
    </ul>
  </li>
  <li><a href="#references">References</a></li>
</ul>
