<ul>
  <li><a href="#aml-vocabularies-10">AML Vocabularies 1.0</a></li>
  <li><a href="#vocabulary-declaration">Vocabulary declaration</a></li>
  <li><a href="#property-terms">Property terms</a>
    <ul>
      <li><a href="#object-properties">Object properties</a></li>
      <li><a href="#datatype-properties">Datatype properties</a></li>
      <li><a href="#property-inheritance">Property inheritance</a></li>
    </ul>
  </li>
  <li><a href="#class-terms">Class terms</a>
    <ul>
      <li><a href="#class-inheritance">Class inheritance</a></li>
      <li><a href="#class-and-property-domains">Class and property domains</a></li>
    </ul>
  </li>
  <li><a href="#references">References</a></li>
</ul>
