---
---

@import "{{ site.theme }}";

header {
  width:170px;
  margin-bottom:20px;
}

footer {
  width:170px;
  bottom:10px;
}

section {
  width:650px;
}

header ul {
  list-style:none;
  height:auto;
  padding:10px;
  margin:0;
  margin-top:10px;
  background:transparent;
  border-radius:auto;
  border:none;
  width:auto;
}

header li {
  width:auto;
  float:none;
  border-right:none;
  height:auto;
}

header li:first-child a {
  border-radius:none;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a:hover, header ul a:focus, header ul a.active {
  color:inherit;
  font-weight:bold;
}

header ul a:active {
  background-color:transparent;
}

header ul li + li + li {
  border-right:none;
  width:auto;
}

header ul li a strong {
  font-size:20px;
  display:inherit;
}

header ul li a {
  line-height:1;
  font-size:inherit;
  color:inherit;
  display:inherit;
  text-align:left;
  padding-top:6px;
  height:34px;
}