---
---

@import "{{ site.theme }}";

a {
  color:#3273dc;
  text-decoration:none;
}

a:hover, 
a:focus {
  color:#000;
  font-weight:normal;
}

header {
  width:170px;
  margin-bottom:20px;
  overflow:scroll;
}

footer {
  width:170px;
  bottom:0;
  background-color:white;
}

section {
  width:650px;
}

header ul {
  list-style:none;
  font-size:1em;
  height:auto;
  padding:10px;
  margin:0;
  margin-top:10px;
  background:transparent;
  border-radius:auto;
  border:none;
  width:auto;
}

header ul > li > ul {
  font-size:0.9em;
  margin-top: 0;
  padding: 0 0 0 5px;
}

header li {
  width:auto;
  float:none;
  border-right:none;
  height:auto;
}

header li:first-child a {
  border-radius:none;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a:hover, 
header ul a:focus {
  color:inherit;
  text-decoration:underline;
  font-weight:normal;
}

header ul a.active {
  color:#3273dc;
}

header ul a:active {
  background-color:transparent;
}

header ul li + li + li {
  border-right:none;
  width:auto;
}

header ul li a strong {
  font-size:20px;
  display:inherit;
}

header ul li a {
  line-height:1;
  font-size:inherit;
  color:inherit;
  display:inherit;
  text-align:left;
  padding-top:6px;
  height:34px;
}

@media print, screen and (max-width: 960px) {

  header ul > li > ul {
    display:none;
  }

  section {
    width:100%;
  }

}
